@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #F2F2F7; /* Gris Apple */
}

#root {
  width: 100%;
  height: 100%;
  max-width: none; /* ESTO ES LA CLAVE */
  margin: 0;
  padding: 0;
  text-align: left;
}